<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.BMap_loadScriptTime = (new Date).getTime();
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=3.0&ak=nA50vfiO6QOheIIE03GNtlnrbnKEmG2T&quot;&services=&t=20180823175819"></script>
</head>
<body>
<noscript>
    <strong>We're sorry but we-check doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
